@font-face{
    font-family: 'Teko', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap')
}
#logo {
    color: white;
    font-family: 'Teko', sans-serif;
    font-weight: bold;
}

#toggle-button {
    color: white;
}

#responsive-navbar-nav {
    color: white;
}

.hire-button {
    background-color: rgb(72, 59, 146);
    border-radius: 5px;
}

.hire-button:hover {
    background-color: rgb(38, 28, 92);
}

.navbar {
    background: rgb(0, 0, 0);
}

.nav-link p {
    margin-bottom: 0;
    color: white;
}

.nav-link:hover {
    font-weight: bolder;
}

.nav-link:active {
    font-weight: bold;
}