#heroBackground {
    background-image: url('/src/container/HeroComponent/hero.jpg');
    height: 94vh;
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.d-flex {
    height: 94vh;
}

.head {
    color: white;
    font-size: 5rem;
    margin-top: 8%;
}

.body {
    font-size: 1.2rem;
}

#cta {
    background-color: #8a4af3;
    height: 3rem;
    width: 9rem;
}

#cta:hover {
    background-color: #401783;
}

.title {
    height: 80%;
    width: 100%;
}

.body {
    height: 20%;
    width: 100%;
}
